"*":
  "atom-beautify":
    general:
      _analyticsUserId: "c50d2e49-1dd7-4851-8860-e7774fb17e44"
    html: {}
  core:
    destroyEmptyPanes: false
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 20
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
  "exception-reporting":
    userId: "39fb98d2-262f-6c3d-3ab7-62690f4588b9"
  linter:
    lintOnFly: false
  "linter-eslint": {}
  "linter-stylelint": {}
  "seti-ui":
    font: "Default Atom Font"
  "terminal-plus":
    toggles:
      autoClose: true
  welcome:
    showOnStartup: false
